.Details {
    background-color: rgb(98, 153, 185);
    margin: 20px 30px;
    max-width: fit-content;
    min-height: 30vh;
    max-height: fit-content;
    border: solid;
    border-radius: 10px;
    color: antiquewhite;
    text-align: center;
    display: inline-block;
}

.Details div {
    display: inline-block;
}

.Image {
    height: 150px;
    width: 150px;
    margin: 10px;
    display: block;
    text-align: center;
}

.LeftInfo {
    text-align: center;
}

.Info {
    max-width: 500px;
    margin: auto;
    text-align: left;
}

.Info article p span {
    margin: 0px 3px;

}

hr {
    max-width: 500px;
}

.Btn {
    border: solid;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    background-color: #475c79;
    text-decoration: none;
    font-size: medium;
    color: antiquewhite;
}

.Btn:hover {
    background-color: #265724;
    color: antiquewhite;
    cursor: pointer;
}

.VehicleSections {
    margin: 10px 15px 20px 25px;
    max-width: fit-content;
    background-color: #3f7e3c;
    border-radius: 5px;
    text-align: center;
}

/* testing background colour #265724 */

.SectionsInfo {
    text-align: left;
    margin: 5px 5px 10px 30px;
}

.VehicleSections article {
    display: inline-block;
    max-width: 160px;
    margin: 5px 25px;
    text-align: left;
    vertical-align: top;
}

.VehicleSections article p {
    margin: 5px 0px;
    width: fit-content;
    display: inline-block;
    vertical-align: top;
    font-size: large;
    
}

.VehicleSections ul {
    padding: 5px;
    text-align: left;
}



.VehicleSections article ul li {
    text-align: left;
}

.AddBtn {
    background-color:bisque;
    color: #265724;
    margin: auto;
    margin-left: 5px;
    padding: 2px 5px;
    width: fit-content;
    height: fit-content;
    font-size: small;
    border: 1px;
    border-style:solid;
    border-color: #3f7e3c;
}

.AddBtn:hover {
    background-color: #265724;
    color: antiquewhite;
    cursor: pointer;
    border: 1px;
    border-style: solid;
}